<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scott A. Nicholson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
    <body>
        <div class="slides-container">
          <div class="mySlides fade">
            <img src="../public/projectImages/rock-paper-scissors.png" style="width:60%">
          </div>
          <div class="mySlides fade">
            <img src="../public/projectImages/team-web.png" style="width:60%">
          </div>
          <div class="mySlides fade">
            <img src="../public/projectImages/traffic-light.png" style="width:60%">
          </div>
          <div class="mySlides fade">
            <img src="../public/hackathon.png" style="width:60%">
          </div>
        </div>
        <div class="slides-container">
          <div class="projects fade">
            <img src="../public/rock-paper-scissors.png" style="width:60%">
          </div>
          <div class="projects fade">
            <img src="../public/team-web.png" style="width:60%">
          </div>
          <div class="projects fade">
            <img src="../public/traffic-light.png" style="width:60%">
          </div>
          <div class="projects fade">
            <img src="../public/hackathon.png" style="width:60%">
          </div>
        </div>

        <script>
          var slideIndex = 0;
          showSlides();
          function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
               slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}

            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
          }

          var slideIndex1 = 0;
          showSlides1();
          function showSlides1() {
            var i;
            var slides1 = document.getElementsByClassName("projects");
            for (i = 0; i < slides1.length; i++) {
               slides1[i].style.display = "none";
            }
            slideIndex1++;
            if (slideIndex1 > slides1.length) {slideIndex1 = 1}

            slides1[slideIndex1-1].style.display = "block";
            setTimeout(showSlides1, 4000); // Change image every 2 seconds
          }

          // var slideIndex2 = 0;
          // showSlides2();
          // function showSlides2() {
          //   var i;
          //   var slides2 = document.getElementsByClassName("mySlides2");
          //   for (i = 0; i < slides2.length; i++) {
          //      slides2[i].style.display = "none";
          //   }
          //   slideIndex2++;
          //   if (slideIndex2 > slides2.length) {slideIndex2 = 2}
          //
          //   slides2[slideIndex2-2].style.display = "block";
          //   setTimeout(showSlides2, 4000); // Change image every 4 seconds
          // }


      </script>
    </body>

    <!-- <img src="../public/profile2.jpg" /> -->
    <!-- <img id="hackathon" class="project" src="../public/hackathon.png"/>
    <img id="rock-paper-scissors" class="project" src="../public/rock-paper-scissors.png"/>
    <img id="team-web" class="project" src="../public/team-web.png"/>
    <img id="traffic-light" class="project" src="../public/traffic-light.png"/> -->

</html>
